
.loader {
    width: 96px;
    height: 96px;
    display: inline-block;
    margin-top: 100px;
    position: relative;
    border: 4px solid #6ebeff;
    box-sizing: border-box;
    animation: fill 1500ms linear infinite alternate;
    color: rgba(51, 122, 183, 0.9);
    border-radius: 0 0 4px 4px;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: 4px solid #6ebeff;
    width: 40px;
    height: 50px;
    border-radius: 0 4px 4px 0;
  }
  
  @keyframes fill {
    0% {
      box-shadow: 0 0  inset;
    }
    100% {
      box-shadow: 0 -96px inset;
    }
  } 


.hide {
    opacity: 0;
}



.todosContainer {
  display: none;
}
